body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.chat-container {
    width: 100%;
    min-width: 600px;
    max-width: 100vh;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.chat-list {
    flex: 1;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-item-bot,
.chat-item-client {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-item-bot .chat-item__message {
    background-color: #e6e6e6;
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    align-self: flex-start;
}

.chat-item-client .chat-item__message {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
    textarea {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 18px;
        resize: none;
        min-height: 30px;
        width: 100%;
        transition: min-height 0.2s ease;

        &.expanded {
            min-height: 60px;
        }
    }
}


.chat-input__send {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.chat-input__send:hover {
    background-color: #0056b3;
}

.loading {
  display: flex;
  font-size: 40px; 
  color: #007bff; 
  font-weight: bold;
  
}

.loading .span {
  height: 10px;
    width: 10px;
    background-color: #007bff;
    
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.8); 
  animation: dotAnimation 1.2s ease-in-out infinite;
  margin: 0 8px;
}

.loading .span:nth-child(1) {
  animation-delay: 0s;
}

.loading .span:nth-child(2) {
  animation-delay: 0.3s;
}

.loading .span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dotAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
